{% include '/layouts/home/base.html.twig' %}


<body>

<!-- ##### Header Area Start ##### -->

{% include '/layouts/home/header.html.twig' %}
<!-- ##### Header Area End ##### -->
<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12">

                <!-- Post Details Area -->
                <div class="single-post-details-area">
                    <div class="post-content">

                        <div class="text-center mb-50">
                            <div class="post-thumbnail mb-30">

                                <a href="{{ path('singlePost', {'id': post.id}) }}"><img
                                            src="../../upload/gallery/{{ post.image }}" alt=""></a>
                            </div>
                            <p class="post-date">{{ post.created|date('Y-m-d') }}</p>
                            <h2 class="post-title">{{ post.title }}</h2>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a href="#"><span>by</span> {{ post.adminusers }}</a>



                                {% if activ == 1 %}
                                <a href="#">{{ countComment|length }} <span>Comments</span></a>
                                <form action="{{ path('addToFavorites', {'post': post.id}) }}">
                                    <div class="form-group">
                                                <textarea class="form-control" name="post-id" id="post-id"  style="display: none;"
                                                          placeholder="Comment">{{ post.id }}</textarea>
                                    </div>
                                    <button type="submit" class="btn nikki-btn" id="submit">добавить пост в избранные </button>
                                </form>

                                {% endif %}
                            </div>
                        </div>
                        <div class="">
                            {{ post.description }}
                        </div>
                        <!-- Comment Area Start -->

                        {% if activ == 1 %}
                             {% if is_granted('ROLE_USER') == false and notRegistered == 1 %}
                                 <h4 class="headline">{{ countComment|length }} Comments</h4>
                                            {% macro list(commentNoParent) %}
                                                {% import _self as tree %}
                                                <ol>
                                                    {% for comment in commentNoParent %}
                                                            {% if comment.premoderation == 1 %}
                                                            <li class="single_comment_area">
                                                                <div class="comment-wrapper d-flex">
                                                                    <!-- Comment Content -->
                                                                    <div class="comment-content">
                                                                        <span class="comment-date">{{ comment.created|date }}</span>
                                                                        <h5>{{ comment.SenderName }}</h5>
                                                                        <p>{{ comment.text }}</p>
                                                                        <a href="#">Like</a>
                                                                        <a class="active" href="#">Reply</a>
                                                                    </div>
                                                                </div>
                                                                    {% if comment.comments.snapshot %}
                                                                        {% for children in  comment.comments.snapshot %}
                                                                            <ol class="children">
                                                                                <li class="single_comment_area">
                                                                                    <div class="comment-wrapper d-flex">
                                                                                        <!-- Comment Content -->
                                                                                        <div class="comment-content">
                                                                                            <span class="comment-date">{{ children.created|date }}</span>
                                                                                            <h5>{{ children.SenderName }}</h5>
                                                                                            <p>{{ children.text }}</p>
                                                                                            <a href="#">Like</a>
                                                                                            <a class="active" href="#">Reply</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                            </ol>
                                                                                {% if children.comments.snapshot %}
                                                                                    {% for  duoChildren in children.comments.snapshot %}
                                                                                        <ol class="children" style="margin-left: 130px">
                                                                                            <li class="single_comment_area">
                                                                                                <div class="comment-wrapper d-flex">
                                                                                                    <!-- Comment Content -->
                                                                                                    <div class="comment-content">
                                                                                                        <span class="comment-date">{{ duoChildren.created|date }}</span>
                                                                                                        <h5>{{ duoChildren.SenderName }}</h5>
                                                                                                        <p>{{ duoChildren.text }}</p>
                                                                                                        <a href="#">Like</a>
                                                                                                        <a class="active" href="#">Reply</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </li>
                                                                                        </ol>
                                                                                    {% endfor %}
                                                                                {% endif %}

                                                                        {% endfor %}

                                                                    {% endif %}
                                                            </li>
                                                            {% endif %}
                                                            {{ tree.list(comment.parent)}}
                                                    {% endfor %}
                                                </ol>
                                            {% endmacro %}
                                            {% import _self as tree %}
                                            {{ tree.list(commentNoParent) }}
                                <!-- Leave A Comment -->
                                <div class="leave-comment-area clearfix" >
                                    <div class="comment-form">
                                        <h4 class="headline">Leave A Comment</h4>

                                        <!-- Comment Form -->

                                        <form action="{{ path('comment_new_user', {'post': post.id}) }}" method="post">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="contact-name"
                                                               id="contact-name" placeholder="Name">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" id="message" cols="30"
                                                                  rows="10" placeholder="Comment"></textarea>
                                                    </div>

                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn nikki-btn" id="submit">Send Message
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                             {% elseif is_granted('ROLE_USER') %}
                                 <h4 class="headline">{{ countComment|length }} Comments</h4>
                                 {% macro list(commentNoParent) %}
                                     {% import _self as tree %}
                                     <ol>
                                         {% for comment in commentNoParent %}
                                             {% if comment.premoderation == 1 %}
                                                 <li class="single_comment_area">
                                                     <div class="comment-wrapper d-flex">
                                                         <!-- Comment Content -->
                                                         <div class="comment-content">
                                                             <span class="comment-date">{{ comment.created|date }}</span>
                                                             <h5>{{ comment.SenderName }}</h5>
                                                             <p>{{ comment.text }}</p>
                                                             <a href="#">Like</a>
                                                             <a class="active" href="#">Reply</a>
                                                         </div>
                                                     </div>
                                                     {% if comment.comments.snapshot %}
                                                         {% for children in  comment.comments.snapshot %}
                                                             <ol class="children">
                                                                 <li class="single_comment_area">
                                                                     <div class="comment-wrapper d-flex">
                                                                         <!-- Comment Content -->
                                                                         <div class="comment-content">
                                                                             <span class="comment-date">{{ children.created|date }}</span>
                                                                             <h5>{{ children.SenderName }}</h5>
                                                                             <p>{{ children.text }}</p>
                                                                             <a href="#">Like</a>
                                                                             <a class="active" href="#">Reply</a>
                                                                         </div>
                                                                     </div>
                                                                 </li>
                                                             </ol>
                                                             {% if children.comments.snapshot %}
                                                                 {% for  duoChildren in children.comments.snapshot %}
                                                                     <ol class="children" style="margin-left: 130px">
                                                                         <li class="single_comment_area">
                                                                             <div class="comment-wrapper d-flex">
                                                                                 <!-- Comment Content -->
                                                                                 <div class="comment-content">
                                                                                     <span class="comment-date">{{ duoChildren.created|date }}</span>
                                                                                     <h5>{{ duoChildren.SenderName }}</h5>
                                                                                     <p>{{ duoChildren.text }}</p>
                                                                                     <a href="#">Like</a>
                                                                                     <a class="active" href="#">Reply</a>
                                                                                 </div>
                                                                             </div>
                                                                         </li>
                                                                     </ol>
                                                                 {% endfor %}
                                                             {% endif %}

                                                         {% endfor %}

                                                     {% endif %}
                                                 </li>
                                             {% endif %}
                                             {{ tree.list(comment.parent)}}
                                         {% endfor %}
                                     </ol>
                                 {% endmacro %}
                                 {% import _self as tree %}
                                 {{ tree.list(commentNoParent) }}
                                 <!-- Leave A Comment -->
                                 <div class="leave-comment-area clearfix" >
                                     <div class="comment-form">
                                         <h4 class="headline">Leave A Comment</h4>

                                         <!-- Comment Form -->

                                         <form action="{{ path('comment_new_user', {'post': post.id}) }}" method="post">
                                             <div class="row">
                                                 <div class="col-12 col-md-6">
                                                     <div class="form-group">
                                                         <input type="text" class="form-control" name="contact-name"
                                                                id="contact-name" placeholder="Name">
                                                     </div>
                                                 </div>
                                                 <div class="col-12">
                                                     <div class="form-group">
                                                        <textarea class="form-control" name="message" id="message" cols="30"
                                                                  rows="10" placeholder="Comment"></textarea>
                                                     </div>

                                                 </div>
                                                 <div class="col-12">
                                                     <button type="submit" class="btn nikki-btn" id="submit">Send Message
                                                     </button>
                                                 </div>
                                             </div>
                                         </form>

                                     </div>
                                 </div>
                             {% endif %}



                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>
<!-- ##### Blog Content Area End ##### -->

<!-- ##### Instagram Area Start ##### -->

<!-- ##### Instagram Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Footer Social Info -->
                <div class="footer-social-info d-flex align-items-center justify-content-between">
                    <a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                    <a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    <a href="#"><i class="fa fa-google-plus"></i><span>Google +</span></a>
                    <a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a>
                    <a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
                    <a href="#"><i class="fa fa-vimeo"></i><span>Vimeo</span></a>
                    <a href="#"><i class="fa fa-youtube"></i><span>Youtube</span></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="copywrite-text">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>