{% include '/layouts/base.html.twig' %}
<body class="">
<div class="wrapper ">
    {% include '/layouts/sidebar.html.twig' %}
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="header text-center">
                    <h1 class="title">Categories</h1>
                </div>
                <div class="row">
                    <div class="">
                        <a href="{{ path('category_new') }}" class="btn" type="submit">Create new category!</a>

                        <form class="form-inline my-2 my-lg-0"  method="get" action="{{ path('category_index') }}">
                            <input class="form-control mr-sm-2" value="{{ app.request.get('search-category') }}" aria-label="Search" name="search-category">
                            <button class="btn btn-default my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        <h4> All({{ categories|length }})</h4>
                        <table>
                            <tr>
                                <th><a href="">title</a></th>
                                <th><a href="">posts</a></th>
                            </tr>
                            {% for category in categories %}

                            <tr>
                                <td><a href="{{ path('category_edit', {'id': category.id}) }}">{{ category.name }}</a></td>
                                <td>{% for posts in category.posts %}{{ posts }} {% endfor %}</td>
                            </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">no records found</td>
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
        </footer>
    </div>
</div>




