{#{% extends 'base.html.twig' %}#}

{#{% block title %}Admin Panel{% endblock %}#}

{#{% block body %}#}
{#<style>#}
{#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
{#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
{#    th {width: 100px; height: 30px ; font-size: 20px ; border: 1px solid black}#}
{#    td {padding-left: 5px; border: 1px solid black}#}
{#    table {border: 1px solid black; border-spacing: 0}#}

{#</style>#}

{#<div class="example-wrapper">#}
{#    <h1>✅  Admin Panel</h1>#}
{#</div>#}

{#    <div class="category">#}
{#        <table>#}
{#            <h1>Categories</h1>#}
{#            <form class="form-inline my-2 my-lg-0"  method="post">#}
{#                <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">#}
{#                <button class="btn btn-default my-2 my-sm-0" type="submit">Search</button>#}
{#            </form>#}
{#            <tr>#}
{#                <th >id</th>#}
{#                <th>name</th>#}
{#                <th>actions</th>#}
{#                <th>delete</th>#}
{#            </tr>#}
{#            {% for category in categories %}#}
{#            <tr>#}
{#                <td>{{ category.id }}</td>#}
{#                <td>{{ category.name }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>#}
{#                </td>#}
{#                <td>#}
{#                    <form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#                        <input type="hidden" name="_method" value="DELETE">#}
{#                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">#}
{#                        <button class="btn">Delete</button>#}
{#                    </form>#}
{#                </td>#}
{#            </tr>#}
{#            {% else %}#}
{#                <tr>#}
{#                    <td colspan="3">no records found</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </table>#}
{#        <form class="" action="{{ path('category_new') }}" method="post">#}
{#            <button class="" type="submit">Create new category</button>#}
{#        </form>#}

{#    </div>#}
{#    <hr>#}
{#    <div class="post">#}

{#        <table >#}
{#            <h1>Posts</h1>#}
{#            <tr>#}
{#                <th>id</th>#}
{#                <th>title</th>#}
{#                <th>created</th>#}
{#                <th>subheadline</th>#}
{#                <th>description</th>#}
{#                <th>category</th>#}
{#                <th>image</th>#}
{#                <th>actions</th>#}
{#                <th>delete</th>#}
{#            </tr>#}
{#            {% for post in posts %}#}
{#                <tr>#}
{#                    <td>{{ post.id }}</td>#}
{#                    <td>{{ post.title }}</td>#}
{#                    <td>{{ post.created ? post.created|date('Y-m-d') : '' }}</td>#}
{#                    <td>{{ post.subheadline }}</td>#}
{#                    <td>{{ post.description }}</td>#}
{#                    <td>{{ post.category }}</td>#}
{#                    <td>{{ post.image }}</td>#}
{#                    <td>#}
{#                        <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#                            <input type="hidden" name="_method" value="DELETE">#}
{#                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">#}
{#                            <button class="btn">Delete</button>#}
{#                        </form>#}
{#                    </td>#}
{#                </tr>#}
{#            {% else %}#}
{#                <tr>#}
{#                    <td colspan="3">no records found</td>#}
{#                </tr>#}

{#            {% endfor %}#}
{#        </table>#}
{#        <form class="" action="{{ path('post_new') }}" method="post">#}
{#            <button class="" type="submit">Create new post</button>#}
{#        </form>#}
{#    </div>#}
{#    <hr>#}
{#    <div class="user">#}
{#        <table>#}
{#            <h1>Users</h1>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Email</th>#}
{#                <th>Password</th>#}
{#                <th>Surname</th>#}
{#                <th>Name</th>#}
{#                <th>Dob</th>#}
{#                <th>Gender</th>#}
{#                <th>actions</th>#}
{#                <th>delete</th>#}


{#            </tr>#}
{#            {% for user in users %}#}
{#                <tr>#}
{#                    <td>{{ user.id }}</td>#}
{#                    <td>{{ user.email }}</td>#}
{#                    <td>{{ user.password }}</td>#}
{#                    <td>{{ user.surname }}</td>#}
{#                    <td>{{ user.name }}</td>#}
{#                    <td>{{ user.dob ? user.dob|date('Y-m-d') : '' }}</td>#}
{#                    <td>{{ user.gender }}</td>#}
{#                    <td>#}
{#                        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#                            <input type="hidden" name="_method" value="DELETE">#}
{#                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">#}
{#                            <button class="btn">Delete</button>#}
{#                        </form>#}
{#                    </td>#}

{#                </tr>#}
{#            {% else %}#}
{#                <tr>#}
{#                    <td colspan="3">no records found</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </table>#}
{#        <form class="" action="{{ path('user_new') }}" method="post">#}
{#            <button class="" type="submit">Create new user</button>#}
{#        </form>#}

{#    </div>#}
{#    <hr>#}
{#    <div class="image">#}
{#        <table >#}
{#            <h1>Images</h1>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Name</th>#}
{#                <th>Url</th>#}
{#                <th>actions</th>#}
{#                <th>delete</th>#}
{#            </tr>#}
{#            {% for image in images %}#}
{#                <tr>#}
{#                    <td>{{ image.id }}</td>#}
{#                    <td>{{ image.name }}</td>#}
{#                    <td>{{ image.url }}</td>#}
{#                    <td>#}
{#                        <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <form method="post" action="{{ path('image_delete', {'id': image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#                            <input type="hidden" name="_method" value="DELETE">#}
{#                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">#}
{#                            <button class="btn">Delete</button>#}
{#                        </form>#}
{#                    </td>#}
{#                </tr>#}
{#            {% else %}#}
{#                <tr>#}
{#                    <td colspan="3">no records found</td>#}
{#                </tr>#}
{#            {% endfor %}#}

{#        </table>#}
{#        <form class="" action="{{ path('image_new') }}" method="post">#}
{#            <button class="" type="submit" >Create new image</button>#}
{#        </form>#}

{#    </div>#}

{#{% endblock %}#}
<!--
=========================================================
Material Dashboard PRO - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard-pro
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
{% include '/layouts/base.html.twig' %}
<body class="">
<div class="wrapper ">
    {% include '/layouts/sidebar.html.twig' %}
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="header text-center">
                    <h1 class="title">Admin Panel</h1>
                </div>
                <div class="row">
                    <div class="">
                      <h3>Welcome!</h3>
                    </div>
                    <div class="">
                        <h3><br/>Welcome!</h3>
                    </div>
                    <div class="">
                        <h3><br/><br/>Welcome!</h3>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">

        </footer>
    </div>
</div>
</body>


