{% extends 'base.html.twig' %}

{% block title %}Restrictions{% endblock %}

{% block body %}
    <h1>Restrictions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ restriction.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ restriction.description }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ restriction.start ? restriction.start|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Finish</th>
                <td>{{ restriction.finish ? restriction.finish|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('restrictions_index') }}">back to list</a>

    <a href="{{ path('restrictions_edit', {'id': restriction.id}) }}">edit</a>

    {{ include('restrictions/_delete_form.html.twig') }}
{% endblock %}
