{% extends 'base.html.twig' %}

{% block title %}CommonFields index{% endblock %}

{% block body %}
    <h1>CommonFields index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Contacts</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for common_field in common_fields %}
            <tr>
                <td>{{ common_field.id }}</td>
                <td>{{ common_field.name }}</td>
                <td>{{ common_field.image }}</td>
                <td>{{ common_field.contacts }}</td>
                <td>
                    <a href="{{ path('common_fields_show', {'id': common_field.id}) }}">show</a>
                    <a href="{{ path('common_fields_edit', {'id': common_field.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('common_fields_new') }}">Create new</a>
{% endblock %}
